.TrialMegaContainer{
	display: grid;
	grid-template-columns: 0.5fr 0.8fr 0.5fr;
	column-gap: 2rem;
	margin: 2rem;
	padding: 1rem;
}

.wrapper {
	display: flex;
}

.comment { 
	width: 100%;
	height: max-content;
	background-color: #D1E7E5;
	border-radius: 2px;
	margin-bottom: 15px;
	padding: 5px 10px;
}

.comment-title {
	font-size: 2rem;
	font-style: bold;
	margin-top: 10px;
	margin-bottom: 30px;
}